{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    Create post
{% endblock %}





{% block menu %}
    <b>{% trans 'Main report' %}</b>
{% endblock %}




{% block content %}
<div class="board">
    <p>Create mailings: {{ mailings.count }}</p>
    <table border="1px" >
        <tr>
            <th>mailing id</th>
            <th>start_datetime</th>
            <th>end_datetime</th>
            <th>tag</th>
            <th>phone code</th>
            <th>text</th>
        </tr>
        {% for mailing in mailings %}
        <tr>
            <td>{{ mailing.id }}</td>
            <td>{{ mailing.start_datetime }}</td>
            <td>{{ mailing.end_datetime }}</td>
            <td>{{ mailing.tag }}</td>
            <td>{{ mailing.mobile_operator_code }}</td>
            <td>{{ mailing.text }}</td>
        </tr>
        {% endfor %}
    </table>

    <p>Create messages: {{ messages.count }}</p>
    <table border="1px" >
        <tr>
            <th>message id</th>
            <th>mailing id</th>
            <th>message status</th>
            <th>client id</th>
            <th>client tag</th>
            <th>client phone number</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.mailing.id }}</td>
            <td>{{message.status }}</td>
            <td>{{ message.client.id }}</td>
            <td>{{ message.client.tag }}</td>
            <td>{{message.client.phone_number }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
