{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    Profile
{% endblock %}



{% block menu %}
    <b>{{ request.user.username }}</b>
{% endblock %}

{% block content %}
<div class="board">
    <div class="profile_head" style="background-image: url('{{ request.user.profile.profile_head_img.url }}')">
        <div class="profile_head_img">
            {% if request.user.profile.profile_img %}
                <img class="profile_img" src="{{ request.user.profile.profile_img.url }}">
            {% endif %}
        </div>

        <div class="profile_head_info">
            <div class="profile_name_sub">
                <div class="profile_head_name">
                    {{ request.user.username }}
                </div>
            </div>

            <div class="profile_subs">
                <div class="p_sub">
                    <a href="{% url 'subscribers_list' pk=request.user.id %}">{% trans 'Subscribers' %}: {{ request.user.profile.sub_count }}</a>
                </div>
                <div class="p_subs">
                    <a href="{% url 'subscriptions_list' %}">{% trans 'Subscriptions' %}: {{ request.user.profile.subs_count }}</a>
                </div>
            </div>
        </div>
    </div>

    <p><b>{% trans 'First name' %}: </b>{{ request.user.first_name }}</p>
    <p><b>{% trans 'Last name' %}: </b>{{ request.user.last_name }}</p>
    <p><b>{% trans 'City' %}: </b>{{ request.user.profile.city }}</p>
    <p><b>{% trans 'Phone' %}: </b>{{ request.user.profile.phone }}</p>
    <p><b>{% trans 'Is verified' %}: </b>{{ request.user.profile.is_verified }}</p>
    <br>

    <a class="button" href="{% url 'profile_edit' profile_id=request.user.id %}">{% trans 'Edit profile' %}</a>
</div>

{% endblock %}
