{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Login
{% endblock %}


{% block content %}
    <h1>{% trans "Login" %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">{% trans "Login" %}</button>
    </form>
{% endblock %}
