{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Profile edit
{% endblock %}


{% block content %}
    <div class="profile_head">
        <div class="profile_head_img">
            {% if user.profile.profile_img %}
                <img class="profile_img" src="{{ user.profile.profile_img.url }}"/>
            {% endif %}
        </div>
        <div class="profile_head_name">
            {{ user.username }}
        </div>
    </div>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% trans 'Change photo' %}: {{ form.profile_img }}</p>
        <br>
        <p><b>{% trans 'Balance' %}: </b>{{ form.balance }}</p>
        <p><b>{% trans 'First name' %}: </b>{{ form.first_name }}</p>
        <p><b>{% trans 'Last name' %}: </b>{{ form.last_name }}</p>
        <p><b>{% trans 'City' %}: </b>{{ form.city }}</p>
        <p><b>{% trans 'Phone' %}: </b>{{ form.phone }}</p>
        <br>
        <button class="button" type="submit">{% trans 'Save' %}</button>
    </form>



{% endblock %}
