{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Profile
{% endblock %}


{% block content %}
    <div class="profile_head">
        <div class="profile_head_img">
            {% if user.profile.profile_img %}
                <img class="profile_img" src="{{ user.profile.profile_img.url }}"/>
            {% endif %}
        </div>

        <div class="profile_head_name">
            {{ user.username }}
        </div>
    </div>

    <p><b>{% trans 'Balance' %}: </b>${{ user.account.balance }}</p>
    <p><b>{% trans 'First name' %}: </b>{{ user.first_name }}</p>
    <p><b>{% trans 'Last name' %}: </b>{{ user.last_name }}</p>
    <p><b>{% trans 'City' %}: </b>{{ profile.city }}</p>
    <p><b>{% trans 'Phone' %}: </b>{{ profile.phone }}</p>
    <p><b>{% trans 'Is verified' %}: </b>{{ profile.is_verified }}</p>
    <br>

    <a class="button" href="{% url 'profile_edit' profile_id=request.user.id %}">{% trans 'Edit profile' %}</a>

    <a class="button" href="{% url 'upload' %}">{% trans 'upload products' %}</a>
{% endblock %}
