@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
         url('../fonts/GraphikLCG-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
         url('../fonts/Gilroy-Regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
         url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/* html ------------------------------------------------------------------------- */

a:active { /* активная/посещенная ссылка */
  text-decoration: none;
  color: #49423d;
}

a:hover { /* при наведении */
  text-decoration: none;
  color: #49423d;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.button {
    color: black; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    font-weight: bold;
    user-select: none; /* убирать выделение текста */
    background: #dcdcdc; /* фон кнопки */
    padding: 15px; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 10px;
}

.button:hover { background: grey; } /* при наведении курсора мышки */
.button:active { background: grey; } /* при нажатии */

.prod_info_saves {
    display: inline-block;
}


.like-section {
    display: inline-block;
}

.shop-section {
    display: inline-block;
}


#save_button {
    vertical-align: middle;
    border: none !important;
    border-radius: 5px;
    height: 40px
}

.prod_info_sc {
    display: inline-block;
    vertical-align: middle;
}

.prod_info_in_sc {
    display: inline-block;
    vertical-align: middle;
}

#shop_button {
    border: none !important;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 60px;
    height: 40px
}

.unsc_button {
    border: none !important;
    border-radius: 5px;
    background: #ff2e2e;
    padding: 5px 5px 5px 5px;
    width: 60px;
    height: 40px
}

.prod_sc_img {
    width: 20px;
}


/* global ------------------------------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    display: flex;
    height: 100%;
    padding-bottom: 50px;
    /* text-align:center; */
}

.container {
}

/* head------------------------------------------------------------------------- */

.header {
    position: fixed;
    height: 65px;
    background-color: #4CAF50;
    width: 100%;
}

.header-content {
    margin-left: 20px;
    margin-right: 20px;
}

.home_block {
    display: inline-block;
    margin-right: 30px;
}

.menu_img {
    width: 30px;
    margin-right: 10px;
}

.Store_block {
    display: inline-block;
    margin-right: 30px;
}

.search_block {
    display: inline-block;
    margin-right: 30px;
}

.search {
    height: 30px;
    color: black; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    margin-top: 15px; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 10px;
    border-color: #dcdcdc;

}

.language_block {
    display: inline-block;
    margin-right: 30px;
}

.lang_change {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.lang_change_from {
    display: inline-block;
    border-radius: 10px;
}

.user_block {
    display: inline-block;
    text-align: bottom;
    bottom: 0;
}

.user_img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 100px;
    vertical-align: middle;
}

.dropa {
    /* background-color: #4CAF50; */
    color: black;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* body ------------------------------------------------------------------------- */

.main_content {
    margin-top: 100px;
    width: 100%;
}

.user_img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 100px;
}

.board {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}


/* list_prods ------------------------------------------------------------------------- */
.prods_list ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере F */
}

.prods_list li {
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
    background-color: #dbdbdb;
    border-radius: 20px;
    padding: 10px 0 20px 10px;
}

.back_text{
    color: white;
    font-weight: bold;
    font-size: 25px;
}


.prod_list_img {
    width: 110px;
    margin-right: 10px;
    vertical-align: middle;
}

.prod_img {
    object-fit: cover;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 10px;
}

.prod_list_container {
    display: inline-block;
    vertical-align: middle;
}

.prod_list_title {
    width: 200px;
}

.prod_list_price {
    width: 200px;
}

.prod_list_action {
    width: 200px;
}

/* profile ------------------------------------------------------------------------- */

.profile_head {
    margin-bottom: 50px;
    background-color: white;
}


.profile_img {
    display: inline-block;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 2px solid grey;
    border-radius: 100px;
}

.profile_head_img {
    display: inline-block;
}

.profile_head_name {
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
}
