/* profile ------------------------------------------------------------------------- */

.profile_head {
    margin: -20px -20px 30px -20px;
    padding: 10px 10px 10px 10px;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile_head_img {
    display: inline-block;
}

.profile_img {
    display: inline-block;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, 0.5) ;
    border-radius: 100px;
    margin-bottom: -8px;
}

.profile_head_info {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 0 15px 5px 15px;
}

.profile_name_sub {
    margin-bottom: 5px;
}

.profile_head_name {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
}

.sub-section {
    display: inline-block;
}

#sub_button {
    vertical-align: bottom;
    border: 1px solid grey;
    border-radius: 8px;
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.p_sub {
    display: inline-block;
    margin-right: 10px;
}

.p_subs {
    display: inline-block;
}


