{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}


{% block title %}
    Purchase history
{% endblock %}



{% block content %}
{% cache 1000 purchase_history request.user.id %}
    <h2>
        {% trans 'Purchase history' %}
    </h2>

    <div class="prods_list">
        <ul>
            {% for prod in purchased_prods %}
                <li>
                    <div class="prod_list_img">
                        {% for image in prod.product.images_set.all %}
                            <img class="prod_img" src=" /media/{{ image.image }}"/>
                        {% empty %}
                            <img class="prod_img" src="{% static 'img/default_prod_img.png' %}"/>
                        {% endfor %}
                    </div>

                    <div class="prod_list_container">
                        <p class="prod_list_title"><b>{{ prod.product.title }}</b></p>
                        <p class="prod_list_price">${{ prod.product.price }}</p>
                        <p class="prod_list_price">{{ prod.purchase_date }}</p>
                    </div>
                </li>
                <br>
            {% endfor %}
        </ul>
    </div>
{% endcache %}
{% endblock %}
