{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Report
{% endblock %}


{% block content %}
    <h2>{% trans 'Best-selling products' %}</h2>

    <p>{% trans 'Generate a report' %}</p>

    <form action="{% url 'report' %}" method="get">
        {% csrf_token %}
        {% trans 'From: ' %}<input class="search" name="start_date" type="date">
        {% trans 'To: ' %}<input class="search" name="end_date" type="date">
        <button type="submit">{% trans 'Get result' %}</button>
    </form>

    <br>

    <p><b>{% trans 'Result:' %}</b></p>
    <div class="asd">
        {% for item in prods %}
            <p>{{ item }}</p>
        {% endfor %}
    </div>
    <br>

    <div>
        <form action="{% url 'download_report' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="report_data" value="{{ data }}">
                {% trans 'Download report' %}
            </button>
        </form>
    </div>
{% endblock %}
