{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Shopping cart
{% endblock %}


{% block content %}
    <h2>
        {% trans 'Shopping cart' %}
    </h2>

    <div class="prods_list">
        <ul>
            {% for prod in prods_in_shopping_cart %}
                <li>
                    <div class="prod_list_img">
                        {% for image in prod.images_set.all %}
                            <img class="prod_img" src=" /media/{{ image.image }}"/>
                        {% empty %}
                            <img class="prod_img" src="{% static 'img/default_prod_img.png' %}"/>
                        {% endfor %}
                    </div>

                    <div class="prod_list_container">
                        <p class="prod_list_title"><b>{{ prod.title }}</b></p>
                        {% if prod.is_promoted %}
                            <p class="prod_list_price"><s>${{ prod.price }}</s> &nbsp; ${{ prod.promo_price }}</p>
                        {% else %}
                            <p class="prod_list_price">${{ prod.price }}</p>
                        {% endif %}

                        <div class="prod_list_action">
                            {% if request.user.is_authenticated %}
                                <form class="prod_info_in_sc" action="{% url 'remove_shoped' pk=user.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if prod.quantity > 0 %}
                                        {% if request.user in prod.buyers.all %}
                                            <button class="unsc_button" type="submit" name="prod_id" value="{{ prod.id }}">
                                                {% trans 'remove' %}</button>
                                        {% endif %}
                                    {% else %}
                                        {% trans 'Sorry, this item is out of stock, it will be moved to your wishlist' %}
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <br>
            {% endfor %}
        </ul>

        <div class="buy_block">
            <b>{% trans 'Total ammount' %}:</b> ${{ total_ammount }} &nbsp;
            {% if request.user.is_authenticated %}
                <form class="prod_info_sc_buy" action="{% url 'buy' pk=user.id %}" method="POST">
                    {% csrf_token %}
                    <button class="buy_button" type="submit" name="prod_id" value="{{ prod.id }}">
                        {% trans 'Purchase' %}
                    </button>
                </form>
            {% endif %}
        </div>

    </div>
{% endblock %}
