{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Wishlist
{% endblock %}


{% block content %}
        <h2>
            {% trans 'Wishlist' %}
        </h2>

        <div class="prods_list">
            <ul>
                {% for post in saved_prods %}
                    <li>
                        <div class="prod_list_img">
                            {% for image in post.images_set.all %}
                                <img class="prod_img" src=" /media/{{ image.image }}"/>
                            {% empty %}
                                <img class="prod_img" src="{% static 'img/default_prod_img.png' %}"/>
                            {% endfor %}
                        </div>

                        <div class="prod_list_container">
                            <p class="prod_list_title"><b>{{ post.title }}</b></p>
                            {% if prod.is_promoted %}
                                <p class="prod_list_price"><s>${{ post.price }}</s> &nbsp; ${{ post.promo_price }}</p>
                            {% else %}
                                <p class="prod_list_price">${{ post.price }}</p>
                            {% endif %}

                            <div class="prod_list_action">
                                {% if request.user.is_authenticated %}
                                    <div class="like-section">
                                        {% include 'save_section.html' %}
                                    </div>

                                    <div class="shop-section">
                                        {% include 'shop_section.html' %}
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        </div>

{% endblock %}
