{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    Upload file
{% endblock %}




{% block menu %}
    <b>{% trans 'Mailings' %}</b>
{% endblock %}




{% block content %}

    <div class="board">
        <ul>
            {% for mailing in all_mailings %}
                <li>
                    <a style="font-size: 20px" href="{% url 'mailing_detail' pk=mailing.id %}">{{ mailing.id }}: {{ mailing.text|truncatechars:100 }}</a>
                </li>
            {% empty %}
            {% endfor %}
        </ul>
    </div >
{% endblock %}
