<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

<head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/news_detail.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">

    <meta charset="UTF-8">

    <title>
        {% block title %}
        title
        {% endblock %}
    </title>
</head>







<body>

    <div class="container">

        <div class="left-panel">
            <div class="left-content">
                <div class="profile_menu">
                    <p><a href="{% url 'main_page' %}"><img class="menu_img" src="{% static 'img/home.png' %}">{% trans "Home" %}</a></p>
                    <br>
                    <p><a class="add_news" href="{% url 'mailing_create' %}">{% trans "Make mailing" %}</a></p>
                    <br>
                    <p><a class="add_news" href="{% url 'main_report' %}">{% trans "Get report" %}</a></p>
                </div>
            </div>
        </div>





        <div class="middle-panel">
            <div class="menu">
                <script>
                      if (history.length > 1) {
                        document.write('<a  href="javascript:history.back()"> ← </a>');
                      }
                </script>
                {% block menu %}
                    menu
                {% endblock %}
            </div>
            {% block content %}
                content
            {% endblock %}
        </div>


</body>

</html>
