{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    Create post
{% endblock %}





{% block menu %}
    <b>{% trans 'Create' %}</b>
{% endblock %}




{% block content %}

<div class="board">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="add_news" type="submit">{% trans 'Make mailing' %}</button>
    </form>
</div>




<script>
    document.getElementById('remove-file').onclick = function() {
        var file = document.getElementById("note-image");
        file.value = file.defaultValue;
    }
</script>

{% endblock %}
