{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    Edit post
{% endblock %}




{% block menu %}
    <b>{% trans 'Edit' %}</b>
{% endblock %}




{% block content %}

<div class="board">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="add_news" type="submit">{% trans 'Save' %}</button>
        </form>
</div>

{% endblock %}
