{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    Post
{% endblock %}




{% block menu %}
    <b>{% trans 'Mailing info' %}</b>
{% endblock %}



{% block content %}

<div class="board">

    <p><b>id:</b> {{mailing.id}}</p>
    <p><b>start time:</b> {{mailing.start_datetime}}</p>
    <p><b>end time:</b> {{mailing.end_datetime}}</p>
    <p><b>text:</b> {{mailing.text}}</p>

    <br>
    <a href="{% url 'mailing_edit' pk=mailing.id %}">{% trans 'edit' %}</a>
    <br>
    <a href="{% url 'mailing_delete' pk=mailing.id %}">{% trans 'delete' %}</a>
    <br>
    <br>
    <h3>Mailing report</h3>
    <p>Sent messages: {{ sent_messages.count }}</p>
    <table border="1px" >
        <tr>
            <th>message id </th>
            <th>client id </th>
            <th>client phone number </th>
        </tr>
        {% for message in sent_messages %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.client.id }}</td>
            <td>{{message.client.phone_number }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <p>Failed messages: {{ failed_messages.count }}</p>
    <table border="1px" >
        <tr>
            <th>message id </th>
            <th>client id </th>
            <th>client phone number </th>
        </tr>
        {% for message in failed_messages %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.client.id }}</td>
            <td>{{message.client.phone_number }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
