<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% for book in all_books %}
            {{ book.title }}
        {% empty %}
        {% endfor %}
</body>
</html>
