{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="prods_list">
        <ul>
            {% for post in all_prods %}
                <li>
                    <div class="prod_list_img">
                            {% if post.images_set.all %}
                                {% for image in post.images_set.all %}
                                    <img class="prod_img" src=" ../media/{{ image.image }}"/>
                                {% endfor %}
                            {% else %}
                                <img class="prod_img" src="{% static 'img/default_prod_img.png' %}"/>
                            {% endif %}
                    </div>

                    <div class="prod_list_container">
                        <p class="prod_list_title"><b>{{ post.title }}</b></p>
                        {% if post.is_promoted %}
                            <p class="prod_list_price"><s>${{ post.price }}</s> &nbsp; ${{ post.promo_price }}</p>
                        {% else %}
                            <p class="prod_list_price">${{ post.price }}</p>
                        {% endif %}

                        <div class="prod_list_action">
                            {% if request.user.is_authenticated %}
                                <div class="like-section">
                                    {% include 'save_section.html' %}
                                </div>


                                <div class="shop-section">
                                    {% include 'shop_section.html' %}
                                </div>

                            {% endif %}
                        </div>
                    </div>
                    <div class="back_text">{{ post.store }}</div>
                </li>
                <br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
