{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="prods_list">
        <ul>
            {% for store in all_stores %}
                <li>
                    <div class="prod_list_img">
                        {% if store.image %}
                            <img class="prod_img" src="../media/{{ store.image }}"/>
                        {% else %}
                            <img class="prod_img" src="{% static 'img/default_prod_img.png' %}"/>
                        {% endif %}
                    </div>

                    <div class="prod_list_container">
                        <p class="prod_list_title"><b>{{ store.title }}</b></p>
                        <p class="prod_list_price">{{ store.description }}</p>
                    </div>
                </li>
                <br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
