{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Personal area
{% endblock %}


{% block content %}
    <h2>{% trans 'Bonuses and promotions' %}</h2>

    <div class="asd">
        <p><b>{% trans 'Status' %}:</b>
            {% if request.user.account.status == 1 %}
                ___<u><b>{% trans 'Beginner' %}</b></u>___
                | $1000 |___<u>{% trans 'Advanced' %}</u>___
                | $10000 |___<u>{% trans 'Expert' %}</u>___</p>
            {% elif request.user.account.status == 2 %}
                ___<u>{% trans 'Beginner' %}</u>___
                | $1000 |___<u><b>{% trans 'Advanced' %}</b></u>___
                | $10000 |___<u>{% trans 'Expert' %}</u>___</p>
            {% else %}
                ___<u>{% trans 'Beginner' %}</u>___
                | $1000 |___<u>{% trans 'Advanced' %}</u>___
                | $10000 |___<u><b>{% trans 'Expert' %}</b></u>___</p>
            {% endif %}
            <p>{% trans 'Amount of purchases' %}: ${{ request.user.account.status_point }}</p>
        <br>
        <h3>{% trans 'Weekly promotions' %}:</h3>
        {% for store, discount in promo_stores.items %}
            <p>{{ store }}: {{ discount }}%</p>
        {% endfor %}
        <br>

        <h3>{% trans 'Discount for you' %}:</h3>
        {% for prod, discount in promo_products.items %}
            <p>{{ prod }}: {{ discount }}% ({% trans 'combinable with other discounts ' %})</p>
        {% endfor %}
    </div>
{% endblock %}
