<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load i18n %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        title
        {% endblock %}
    </title>
</head>







<body>

    <div class="container">

        <div class="header">
            <div class="header-content">

                <div class="home_block">
                    <a class="back_to_main" href="{% url 'prod_list' %}"><img class="menu_img" src="{% static 'img/home.png' %}">{% trans "Home" %}</a>
                </div>

                <div class="home_block">
                    <a class="stores_choise" href="{% url 'store_list' %}">{% trans "Stores" %}</a>
                </div>

                <div class="home_block">
                    <form action="{% url 'prod_list' %}" method="get">
                        <input class="search" name="q" type="text" placeholder="{% trans 'Search...' %}">
                    </form>
                </div>

                <div class="home_block">
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select class="lang_change_from" name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input class="lang_change_from" type="submit" value="Go">
                    </form>
                </div>

                <div class="home_block">
                    {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            {% if request.user.profile.profile_img %}
                                <img class="user_img" src="{{ request.user.profile.profile_img.url }}">
                            {% else %}
                                {{ request.user }}
                            {% endif %}
                            <div class="dropdown-content">
                                <a href="{% url 'profile' profile_id=request.user.id %}">${{ request.user.account.balance }}</a>
                                <a href="{% url 'shopping_cart' pk=request.user.id %}">{% trans "Shopping cart" %}</a>
                                <a href="{% url 'profile' profile_id=request.user.id %}">{% trans "Profile" %}</a>
                                <a href="{% url 'account' pk=request.user.id %}">{% trans "Account" %}</a>
                                <a href="{% url 'wishlist' pk=request.user.id %}">{% trans "Wishlist" %}</a>
                                <a href="{% url 'purchase_history' pk=request.user.id %}">{% trans "Purchased history" %}</a>
                                <a href="{% url 'report' %}">{% trans "Report" %}</a>
                                <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}">{% trans "Login" %}</a>
                        <a href="{% url 'register' %}">{% trans "Register" %}</a>
                    {% endif %}
                </div>

            </div>
        </div>



        <div class="main_content">
            <div class="board">
                {% block content %}
                content
                {% endblock %}
            </div>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $( document ).ready(function() {
        $('.prod_info_saves').submit(function(e){
            e.preventDefault()

            const post_id = $(this).attr('id')
            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)
            const url = $(this).attr('action')

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id':post_id,
                },
                success: function(response) {
                    if(trim === 'unsave') {
                        $(`.like-btn${post_id}`).text('save').css('background-color', '#ffffff');
                        console.log(post_id, likeText)
                    } else {
                        $(`.like-btn${post_id}`).text('unsave').css('background-color', '#808080');
                        console.log(post_id, likeText)
                    }
                },
                error: function(response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>


<script>
    $( document ).ready(function() {
        $('.prod_info_sc').submit(function(e){
            e.preventDefault()

            const post_id = $(this).attr('id')
            const likeText = $(`.sc-btn${post_id}`).text()
            const trim = $.trim(likeText)
            const url = $(this).attr('action')

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id':post_id,
                },
                success: function(response) {
                    if(trim === 'remove') {
                        $(`.sc-btn${post_id}`).text('add').css('background-color', '#40C781FF');
                        console.log(post_id, likeText)
                    } else {
                        $(`.sc-btn${post_id}`).text('remove').css('background-color', '#ff2e2e');
                        console.log(post_id, likeText)
                    }
                },
                error: function(response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>










</body>

</html>
