<form action="{% url 'save_list' %}" method="POST" class='prod_info_saves' id='{{ post.id }}'>
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ post.id }}">

        {% if request.user in post.saves.all %}
            <button style="background-color: #808080" class="like-btn{{ post.id }}" id="save_button" type="submit">
            unsave</button>
        {% else %}
            <button style="background-color: #ffffff" class="like-btn{{ post.id }}" id="save_button" type="submit">
            save</button>
        {% endif %}

</form>

