{% load static %}
{% load i18n %}


<form action="{% url 'add_to_shopping_cart' %}" method="POST" class='prod_info_sc' id='{{ post.id }}'>
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ post.id }}">

    {% if post.quantity > 0 %}

            {% if request.user in post.buyers.all %}
                <button style="background-color: #ff2e2e" class="sc-btn{{ post.id }}" id="shop_button" type="submit">
                    remove
                </button>
            {% else %}
                <button style="background-color: #40C781FF" class="sc-btn{{ post.id }}" id="shop_button" type="submit">
                    add
                </button>
            {% endif %}

    {% else %}
        <p>{% trans 'Not available yet' %} :(</p>
    {% endif %}
</form>

<!--<img class="prod_sc_img" src="{% static 'img/shopping-cart.png' %}">-->

